// @each $color, $shades in $colors {
//     @each $shade, $value in $shades {
//         --clr-#{$color}-#{$shade}: #{$value};
//         //if getting value directly
//         //color: $shades;
//     }
// }

// @each $color, $shades in $colors {
//     @each $shade, $value in $shades {
//         .text-#{$color}-#{$shade} {
//             color: $value;
//             //color: var(--fs-#{$color}-#{$shade};
//         }
//     }
// }

// $bg: #2a2a2a;
// $text: #fafafa;

$clr-overlay: rgba(224, 220, 219, 0.4);

$bg: linear-gradient($clr-overlay, $clr-overlay), url(../assets/imgs/layoutBG-img.png);
$text: #0c0c0c;
$clr-primary: rgb(0, 0, 0);
$clr-hover: rgb(156, 58, 255);
$white: #fff;
$black: #000;
